// ---------------------------------------------------------------------------
// Imports

@import "base";
@import url(http://fonts.googleapis.com/css?family=Roboto|Droid+Serif);
@import "compass/css3";

$bg-color: #F8E4C1;
$bg-secondary-color: #FFEDBF;
$font-color: #F7803C;
$header-color: #F54828;


/* -------------------------------------------------------------------------*/
/* Layout */

main {
  @include container;
  //@include susy-grid-background;

  #main {
      @include span-columns(1, 1);
      text-align: center;

      #title {
          font-size: 3em;
          @include text-shadow(rgba($header-color, 0.25) 2px 2px);
      }
  }

  #donate {
      @include span-columns(12, 12);

      .option {
          @include span-columns(4, 12);
          background-color: $bg-secondary-color;
          padding: 1em;
          @include box-shadow(rgba(shade($bg-secondary-color, 25%), 0.75) 2px 2px);
          @include border-radius(4px);

          dt {
              font-weight: bold;
          }

          dl {
              font-size: small;
          }

          a.donate {
              @include sassy-button("simple");
          }
      }
  }
}


body {
    background-color: $bg-color;
    color: $font-color;
    font-family: "Roboto", sans-serif;
}

#{headings()}{
    color: $header-color;
    font-family: "Droid Serif", serif;
}
