// ---------------------------------------------------------------------------
// Imports

@import "base";
@import url(http://fonts.googleapis.com/css?family=Roboto|Droid+Serif);
@import "compass/css3";
@import "compass/typography/links/unstyled-link";
@import "compass/css3/transition";

$bg-color: #F8E4C1;
$bg-secondary-color: #FFEDBF;
$font-color: #F7803C;
$header-color: #F54828;


/* -------------------------------------------------------------------------*/
/* Layout */

main {
  @include container;
  //@include susy-grid-background;

  #main {
      @include span-columns(1, 1);
      text-align: center;

      #title {
          font-size: 3em;
          @include text-shadow(rgba($header-color, 0.25) 2px 2px);
      }
  }

  #donate {
      @include span-columns(12, 12);

      .option {
          @include span-columns(4, 12);
          background-color: $bg-secondary-color;
          padding: 1em;
          @include box-shadow(rgba(shade($bg-secondary-color, 25%), 0.75) 2px 2px);
          @include border-radius(4px);

          dt {
              font-weight: bold;
          }

          dl {
              font-size: small;
          }

          a.donate {
              @include sassy-button;
              @include sassy-button-gradient("simple", $header-color);
              @include unstyled-link();
              color: white;
              cursor: pointer;
          }
      }
  }

  #vote {
      @include span-columns(1, 1);

      article {
          background-color: $bg-secondary-color;
          padding: 1em;
          @include box-shadow(rgba(shade($bg-secondary-color, 25%), 0.75) 2px 2px);
          @include border-radius(4px);
      }

      a {
          @include sassy-button;
          @include unstyled-link;
          color: white;
          cursor: pointer;
      }

      a:nth-child(odd) {
          @include sassy-button-gradient("simple", $header-color);
      }

      a:nth-child(even) {
          @include sassy-button-gradient("simple", #59BAA9);
      }
  }
}


body {
    background-color: $bg-color;
    color: $font-color;
    font-family: "Roboto", sans-serif;
}

#{headings()}{
    color: $header-color;
    font-family: "Droid Serif", serif;
}

section {
    padding-bottom: 2em;
}

nav {
    position: fixed;
    right: 20px;

    ul {
        list-style: none;

        li a{
            @include unstyled-link;
            color: $header-color;
            cursor: pointer;
            @include transition;
            font-size: 1.3em;
        }

        li a:hover {
            color: lighten($header-color, 25%);
        }

        li a:after{
            content: "\f111";
            font-family: 'FontAwesome';
        }
    }
}
