// ---------------------------------------------------------------------------
// Imports

@import "susy";
@import "sassy-buttons";
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 1;
$column-width   : 15em;
$gutter-width   : 0.5em;
$grid-padding   : $gutter-width;

$show-grid-backgrounds  : true;

[class*="fa-"]:before {
    font-family: 'FontAwesome', sans-serif;
}
