<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="{{ url_for('static', filename='stylesheets/screen.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> 
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <title>Narna | Home</title>
</head>
<body>
    <nav>
        <ul>
            <li><a class="scroll" href="#main"><span>Main</span></a></li>
            <li><a class="scroll" href="#donate"><span>Donate</span></a></li>
            <li><a class="scroll" href="#vote"><span>Vote</span></a></li>
            <li><a class="scroll" href="#contact"><span>Contact</span></a></li>
            <li id="dynmap"><a href="http://sv.narna.me:8123/" target="_blank"><span>Dynmap</span></a></li>
            <li id="github"><a href="http://github.com/SevereOverfl0w/Narna.me"><span>Github</span></a></li>
        </ul>
    </nav>
    <main>
        <section id="main">
            <h1 id="title">Narna</h1>
            <p>Welcome to Narna.me, we're currently baking a Prison Server!</p>
            <span id="playerCount">Arming the player counter...</span>
            {% with messages = get_flashed_messages() %}
            {% for message in messages %}
            <div class="alert">{{ message }}<span class="close">&times;</span></div>
            {% endfor %}
            {% endwith %}
        </section>
	    <hr>
        <section id="donate">
            <h1>Donating</h1>
            	<article>
            		<p>Currently no ranks available, feel free to donate and receive a rank in the future!</p>
            		<br>
            		<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=FLAEZGLAP9WY2" target="_blank">Donate</a>
        	</article>
        </section>
	    <hr>
        <section id="vote">
            <h1>Voting</h1>
            <article>
                <p>Currently not available</p>
	        </article>
        </section>

        <section id="contact">
            <h1>Contact</h1>

            {% macro render_field(field) %}
                {{ field.label }}
                {% if field.errors %}
                <ul class="error">
                {% for error in field.errors %}
                <li>{{ error}}</li>
                {% endfor %}
                </ul>
                {% endif %}
                {{ field(placeholder=field.description) }}
            {% endmacro %}
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                {{ render_field(form.name) }}
                {{ render_field(form.subject) }}
                {{ render_field(form.message) }}
                {{ form.submit() }}
            </form>
        </section>
    </main>
    <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/smooth-scroll.js') }}"></script>

    {% if form.errors %}
    <script>
        $('#contact')[0].scrollIntoView();
    </script>
    {% endif %}
</body>
</html>
